.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: gray;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
.panel-body {
	background-color: #E8E8E8;
	border-style: none none solid;
    border-width: 0px 0px 1px;
    border-color: #a2a2a2;
}
.panel-heading {
	border-style: solid none none;
    border-width: 1px 0px 0px;
    border-color: #b7b7b7;
}