body {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}
h1 {
  margin: 10px 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}
h2 {
  margin: 10px 0px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 700;
}
h3 {
  margin: 10px 0px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 5px;
}
.button {
  display: inline-block;
  padding: 4px 15px;
  background-color: black;
  color: white;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 767px) {
}
@media (max-width: 479px) {
  body {
    margin-right: 0px;
    margin-left: 0px;
    background-color: transparent;
    font-weight: 400;
  }
  h1 {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-align: center;
  }
  h3 {
    position: static;
    display: block;
    margin: 0px auto;
    padding-left: 0px;
    float: left;
    clear: none;
    color: white;
    font-weight: 700;
    text-align: left;
  }
  p {
    text-align: left;
  }
  .button {
    display: block;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: 0px;
    padding: 5%;
    float: none;
    clear: none;
    border-bottom-style: none;
    border-bottom-width: 0px;
    border-radius: 0px;
    background-color: transparent;
    color: black;
    font-weight: 700;
    text-align: center;
  }
  .button.small-button {
    display: block;
    overflow-x: visible;
    overflow-y: visible;
    width: 50%;
    margin: 20px auto 30px;
    padding-top: 5%;
    border-radius: 12px;
    background-color: #f60;
    color: white;
  }
  .submit {
    display: block;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .login-form {
    display: block;
    margin-top: 80px;
    margin-right: auto;
    margin-left: auto;
    float: none;
  }
  .create-account-block {
    position: relative;
    float: none;
    text-align: right;
  }
  .forgot-pass-block {
    position: relative;
    display: block;
    float: none;
  }
  .footer-link-3-block {
    position: relative;
    float: none;
    text-align: left;
  }
  .footer-link-1-block {
    position: relative;
    display: block;
    float: none;
    text-align: right;
  }
  .footer-block {
    position: relative;
    bottom: -100px;
  }
  .list-item-block {
    padding-top: 0%;
    border-style: none none solid;
    border-width: 0px 0px 1px;
    border-color: black;
  }
  .navbar-on-link.w--current {
    background-color: #d4d4d4;
    box-shadow: none;
    color: black;
    font-style: normal;
  }
  .navbar-on-link.w--current:focus {
    background-color: #5c5c5c;
    color: black;
    list-style-type: none;
  }
  .nav-bar-block {
    position: fixed;
    width: 100%;
  }
  .navbar-container {
    position: static;
    display: block;
    width: 100%;
    background-color: #f80;
  }
  .navbar-empty-space {
    position: static;
    height: 60px;
    padding-bottom: 0%;
    background-color: white;
  }
  .search-item-box {
    width: 80%;
    float: none;
  }
  .search-item-container {
    position: relative;
    z-index: 2;
    height: 38px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }
  .form-for-search-box {
    height: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .camera-picture-div-block {
    width: 20%;
    margin-top: -12px;
    padding-top: 0px;
    padding-bottom: 0px;
    float: right;
    text-align: center;
  }
  .failed-search-result {
    position: relative;
    z-index: 1;
    margin-top: 0px;
    padding-bottom: 10%;
  }
  .profileimage {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .profile-text {
    margin-bottom: 0px;
    text-align: center;
  }
  .search-icon {
    position: relative;
    margin-top: 0%;
    margin-left: -2%;
    padding-top: 5px;
    padding-right: 6px;
    float: right;
  }
  .search-item-box-for-meals {
    width: 88%;
  }
  .submit-button {
    display: block;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
  }
  .submit-button.round-button {
    width: 160px;
    margin-top: 30px;
    border-radius: 12px;
    background-color: #f60;
    font-weight: 700;
  }
  .cancel-button {
    display: block;
    width: 67px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .cancel-button.button-bottom {
    margin-bottom: 30px;
  }
  .cancel-button.button-bottom.round-button {
    width: auto;
    height: auto;
    min-width: 0px;
    margin-bottom: 0px;
    float: none;
    border-radius: 12px;
    background-color: #fc9700;
    color: white;
    font-weight: 700;
  }
  .form-wrapper {
    margin-right: 0px;
    margin-left: 0px;
  }
  .form-wrapper.text-body {
    margin-right: 0px;
    margin-left: 0px;
  }
  .bottom-button {
    margin-bottom: 0px;
    padding-bottom: 30px;
  }
  .account-header {
    font-size: 24px;
  }
  .text-body {
    padding-right: 25px;
    padding-left: 25px;
  }
  .favorite-star {
    margin-top: -86px;
    margin-bottom: 0px;
    margin-left: 25px;
    padding-left: 0px;
  }

  .favorite-star img {
    width: 35px;
  }
  .signout-text {
    font-size: 28px;
    line-height: 35px;
    font-weight: 700;
    text-align: center;
  }
  .back-button {
    margin-top: 5.5%;
    padding-right: 2%;
    float: left;
  }
  .header-with-back-button {
    margin-top: 4.5%;
    margin-left: 0%;
    padding-left: 0%;
    float: left;
  }
  .header-without-back-buttons {
    margin-top: 4.5%;
    margin-left: 3%;
    float: left;
  }
  .menu-bar-without-buttons {
    margin-bottom: 15px;
    float: none;
  }
  .about-page-for-login-link {
    margin-left: 26px;
  }
  .slider-headings {
    position: relative;
    z-index: 2;
    float: none;
    background-color: rgba(176, 176, 176, 0.36);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 5px 0px;
    opacity: 1;
    text-align: center;
  }
  .slide-box {
    height: auto;
    background-color: transparent;
  }
  .slider-image-link-box {
    position: relative;
    z-index: 0;
    width: auto;
    height: auto;
    margin-top: -30px;
    margin-left: 0px;
    float: none;
    background-color: white;
    opacity: 1;
  }
  .mask-box {
    overflow-x: hidden;
    overflow-y: hidden;
    height: auto;
  }
  .slider-ingredients-heading {
    text-align: center;
  }
  .list-of-ingredients-slider {
    padding-bottom: 20px;
  }
  .slider-nav-bg {
    background-color: rgba(184, 178, 178, 0.6);
  }
  .recipe-title {
    width: 200px;
    font-size: 30px;
  }
  .recipe-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid #f30;
    border-radius: 5px;
  }

}